$img: "../../assets/image";

.icon--box {
  background-size: contain;
  background-repeat: no-repeat;
}

.icon_feed_small {
  // background-image: url("#{$img}/small_feed.png")
}

.icon_chicken_small {
  // background-image: url("#{$img}/small_chicken.png")
}

